## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [10]:
data = {'country': ['Taiwan', 'United States', 'Canada', 'Mexico'],
        'population': np.random.randint(10000000,size=4)}
data = pd.DataFrame(data)
data

         country  population
0         Taiwan     6193533
1  United States     6083514
2         Canada      933438
3         Mexico     8230342

In [49]:
data[data['population'] == data.population.max()]

  country  population
3  Mexico     8230342

In [52]:
data.iloc[data.population.idxmax()]['country']

'Mexico'